.tile-image {
  width: 200px;
  height: 200px;
}

@media (max-width: 992px) {
  .tile-image {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 768px) {
  .tile-image {
    width: 130px;
    height: 130px;
  }
}
